In [1]:
import pandas as pd
import numpy as np

In [2]:
vals1 = np.array([1, None, 2, 3])
vals1

array([1, None, 2, 3], dtype=object)

In [3]:
%timeit np.arange(1E6, dtype=int).sum()  # 100만 개의 정수 배열 생성 후 합계 연산 시간 측정

3.27 ms ± 351 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [4]:
%timeit np.arange(1E6, dtype=object).sum()  # object 타입의 100만 개 배열 합계 연산 시간 측정

140 ms ± 24.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [6]:
vals2 = np.array([1, np.nan, 3, 4])  # NaN을 포함한 배열 생성
vals2.dtype  # 배열의 데이터 타입 확인

dtype('float64')

In [7]:
1 + np.nan

nan

In [8]:
0 * np.nan

nan

In [9]:
vals2.sum()  # NaN이 포함된 배열의 합계 -> NaN
vals2.min()  # 최솟값 -> NaN
vals2.max()  # 최댓값 -> NaN

(nan, nan, nan)

In [11]:
np.nansum(vals2)   # NaN을 제외한 합계
np.nanmin(vals2)   # NaN을 제외한 최솟값
np.nanmax(vals2)   # NaN을 제외한 최댓값

(8.0, 1.0, 4.0)

In [12]:
pd.Series([1, np.nan, 2, None])  # 결측값이 포함된 Series 생성

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [13]:
x = pd.Series(range(2), dtype=int)  # 0부터 1까지의 정수 Series 생성
x  # Series 출력

0    0
1    1
dtype: int64

In [14]:
x[0] = None  # 첫 번째 값을 None으로 설정
x  # 변경된 Series 출력

0    NaN
1    1.0
dtype: float64

In [15]:
pd.Series([1, np.nan, 2, None, pd.NA], dtype='Int32')  # Nullable integer 타입의 Series 생성

0       1
1    <NA>
2       2
3    <NA>
4    <NA>
dtype: Int32

In [16]:
# 다양한 타입의 데이터로 Series 생성
data = pd.Series([1, np.nan, 'hello', None])

# 결측값 여부 확인
data.isnull()  # True: 결측값, False: 유효값

0    False
1     True
2    False
3     True
dtype: bool

In [17]:
# 결측값이 아닌 데이터만 선택
data[data.notnull()]  # True인 인덱스의 값만 반환

0        1
2    hello
dtype: object

In [18]:
data.dropna()

0        1
2    hello
dtype: object

In [19]:
# NaN을 포함한 DataFrame 생성
df = pd.DataFrame([[1, np.nan, 2],   # 첫 번째 행
                   [2, 3, 5],        # 두 번째 행
                   [np.nan, 4, 6]])  # 세 번째 행

df  # DataFrame 출력

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [20]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [21]:
df.dropna(axis = 'columns')

   2
0  2
1  5
2  6

In [ ]:
df[3] = np.nan  # 데이터프레임의 4번째 행을 NaN으로 설정
df  # 변경된 DataFrame 출력

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [25]:
df[4-1] = np.nan  # 데이터프레임의 4번째 행을 NaN으로 설정
df  # 변경된 DataFrame 출력

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [24]:
df.dropna(axis='columns', how='all')  # 모든 값이 NaN인 열 제거

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [26]:
df.dropna(axis='row', thresh=3)  # 유효값이 3개 이상인 행만 유지

ValueError: No axis named row for object type DataFrame

In [27]:
# 결측값이 포함된 Series 생성
data = pd.Series([1, np.nan, 2, None, 3],  # 데이터 값
                 index=list('abcde'))       # 문자 인덱스

data  # Series 출력

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [28]:
data.fillna(0)  # NA 값을 0으로 대체

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [29]:
# forward-fill(이전 값으로 채우기)
data.fillna(method='ffill')  # 이전 값으로 NA 채우기

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [30]:
# back-fill(다음에 오는 값으로 채우기)
data.fillna(method='bfill')  # 다음 값으로 NA 채우기

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [31]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [ ]:
df.fillna(method='ffill', axis=1)  # 열 방향으로 이전 값으로 NA 채우기