In [3]:
import pandas
pandas.__version__

'1.5.3'

In [4]:
import pandas as pd

In [5]:
import numpy as np
import pandas as pd

Pandas Series는 인덱싱된 데이터의 1차원 배열
리스트나 배열로부터 만들 수 있음

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index = ['a', 'b', 'c', 'd'])

data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['b']

0.5

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = [2, 5, 3, 7])

data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [14]:
pop_dict = {'seoul' : 10000,
            'busan' : 9999,
            'ulsan' : 8888,
            'daejeon' : 7777}
pop = pd.Series(pop_dict)
pop

seoul      10000
busan       9999
ulsan       8888
daejeon     7777
dtype: int64

In [15]:
pop['ulsan']

8888

In [16]:
pop['seoul':'daejeon']

seoul      10000
busan       9999
ulsan       8888
daejeon     7777
dtype: int64

In [17]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [18]:
pd.Series(5, index =[100, 200, 300])

100    5
200    5
300    5
dtype: int64

Series가 유연한 인덱스를 가지는 1차원 배열이라면 DataFrame 유연한 행 인덱스와 유연한 열 이름을 가진 2차원 배열이라 할 수 있음.

In [19]:
area_dict = {'cal' : 10000, 'tex' : 100000, "new" : 14100, 'flo' : 170, 'ill' : 149}
area = pd.Series(area_dict)
area

cal     10000
tex    100000
new     14100
flo       170
ill       149
dtype: int64

In [20]:
states = pd.DataFrame({'pop' : pop,
                       'area' : area})

states

             pop      area
busan     9999.0       NaN
cal          NaN   10000.0
daejeon   7777.0       NaN
flo          NaN     170.0
ill          NaN     149.0
new          NaN   14100.0
seoul    10000.0       NaN
tex          NaN  100000.0
ulsan     8888.0       NaN

In [21]:
states.index

Index(['busan', 'cal', 'daejeon', 'flo', 'ill', 'new', 'seoul', 'tex',
       'ulsan'],
      dtype='object')

In [22]:
states.columns

Index(['pop', 'area'], dtype='object')

In [23]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [24]:
ind[1]

3

In [25]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')